<div class="modal fade" id="addFundsModal" tabindex="-1" role="dialog" aria-labelledby="addFundsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFundsModalLabel">Add Funds</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="name">Name on card</label>
                            <input type="text" class="form-control" id="name" placeholder="Name on card">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card">Card Number</label>
                        <input type="text" class="form-control" id="card" placeholder="Card Number">
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="month">Expiry Month</label>
                                <select id="month" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                            </div>
                        <div class="form-group col-md-3">
                            <label for="year">Expiry Year</label>
                            <select id="year" class="form-control">
                                <option selected>Choose...</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cvv">CVV</label>
                            <input type="number" class="form-control" id="cvv">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="amount">Amount</label>
                            <input ng-model="addAmount" type="number" class="form-control" id="amount" placeholder="0.00">
                    </div>
                </form>
            
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" ng-click="addFunds(addAmount)">Add Funds</button>
            </div>
        </div>
    </div>
</div>