<div class="card">
    <div class="card-body">
        <h5 class="card-title">Account Balance</h5>
        <p class="card-text"><span class="text-success" ng-model="availableBalance">{{availableBalance | currency :
                number : 2}}</span></p>
        <btn data-toggle="modal" data-target="#addFundsModal" class="btn btn-dark">Add Funds</button>
    </div>
</div>