<div ng-model="selectedStock" class="modal fade" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="stockModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stockModalLabel">Buy Stocks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <h2 class="text-success">{{selectedStock["1. symbol"]}}
                        <small class="text-secondary">{{selectedStock["2. name"]}}</small>
                    </h2>
                    <h5>{{selectedStock.quote["02. open"] | currency : number: 2}}</h5>
                    <span class="oi oi-arrow-thick-top text-success"></span>
                    <span class="text-secondary">{{selectedStock.quote["03. high"] | number: 2}}</span>
                    <span class="oi oi-arrow-thick-bottom text-danger"></span>
                    <span class="text-secondary">{{selectedStock.quote["04. low"] | number: 2}}</span>
                </p>
                <div class="alert alert-danger" ng-if="!selectedStock.quote" role="alert">
                    API limit reached. Please try again in 60 seconds.
                </div>
                <hr class="margin-bottom">
                <p>
                    <h6>Select Quantity to buy</h6>
                    <form class="form-inline margin-bottom">
                        <input class="form-control" ng-model="selectedStockQuantity" ng-change="calculateStockWorth(selectedStockQuantity)" type="number"
                            placeholder="Quantity" aria-label="Quantity">
                    </form>
                    <p ng-if="overlimit && !negativeStock" class="text-danger">
                        Balance limit exceeded. Please enter a lower quantity.
                    </p>
                    <p ng-if="negativeStock && !overlimit" class="text-danger">
                        Stock Values cannot be negative
                    </p>
                    <span>Price: <span class="text-danger" ng-model="stockWorth">{{stockWorth | currency : number : 2}}</span></span>
                </p>
                <p>
                    <span>Available Balance: <span class="text-success" ng-model="availableBalance">{{availableBalance
                            | currency : number : 2}}</span></span>
                </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" ng-disabled="overlimit || negativeStock" ng-click="buySelectedStock(selectedStockQuantity)">Buy</button>
            </div>
        </div>
    </div>
</div>