<!-- Navbar -->
<div ng-include="'app/views/nav.html'"></div>

<!-- Welcome Message -->

<h2 class="text-center margin-bottom">Hello <span ng-model="user.firstName">{{user.firstName}}!</span> Welcome to Stocker - your own stock trading app</h2>

<!-- Search for a Stock -->
<div class="row margin-bottom">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12">
        <form class="form dropdown">
            <input ng-model="searchKeywords" class="form-control" id="searchStock" type="search" placeholder="Search for a stock" aria-label="Search" data-toggle="dropdown" ng-change="searchStocks()">
            <ul class="dropdown-menu" role="menu">
                <div ng-model="searchResults" ng-repeat="item in searchResults">
                    <li role="presentation" ng-click="openStockModal(item)" data-toggle="modal" data-target="#stockModal">{{item["1. symbol"]}}<span class="pull-right"> - {{item["2. name"]}}</span></li>
                    <div class="dropdown-divider"></div>
                </div>
            </ul>
        </form>
    </div>
</div>

<!-- Buy Stock Modal -->
<div ng-include="'app/views/buyStockModal.html'"></div>

<!-- Sell Stock Modal -->
<div ng-include="'app/views/sellStockModal.html'"></div>

<!-- Add Funds Modal -->
<div ng-include="'app/views/addFunds.html'"></div>

<!-- Portfolio -->
<div class="jumbotron">
    <h1 class="display-4">Your Portfolio</h1>
    <p class="lead">List of your assets and net worth</p>
    <p class="lead">All values for current time <span ng-model="currentTime" class="text-dark">{{currentTime}}</span></p>
    <hr class="my-4">
    <div class="alert alert-danger" ng-if="apiError" role="alert">
        There was an error while fetching live stock values. Please reload the page
    </div>
    <div class="row margin-bottom">
        <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8" ng-include="'app/views/stockTable.html'">
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4" ng-include="'app/views/balance.html'">
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8" ng-include="'app/views/summary.html'">
        </div>
    </div>
</div>