<div class="text-center">
    <form class="form justify-content-center form-signin">
        <img class="mb-4" src="../../assets/icons/fluctuation.png" alt="stock" width="72", height="72">
        <h2>Stocker</h2>
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-12">
                <label for="email" class="sr-only">Email address</label>
                <input ng-model="email" type="email" id="email" class="form-control margin-bottom" placeholder="Email address" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input ng-model="password" type="password" id="password" class="form-control margin-bottom" placeholder="Password" required>
                <div class="alert alert-danger" ng-if="invalidLogin" role="alert">
                    Incorrect username or password
                </div>
                <button class="btn btn-lg btn-dark btn-block" type="submit" ng-click="loginUser()">Login</button>
            </div>
        </div>
    </form>
</div>