<nav class="navbar navbar-expand-lg navbar-light bg-light margin-bottom">
    <a class="navbar-brand href=" #">
        <img src="../../assets/icons/fluctuation.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">Stocker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            </li>
        </ul>
    </div>
</nav>