<div ng-model="selectedStock" class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellModalLabel">Sell Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <h2 class="text-success">{{sellStock.symbol}}
                    </h2>
                    <h5>Sell at current value <span class="text-success">{{sellStock.value | currency : number : 2}}</span></h5>
                </p>
                <hr class="margin-bottom">
                <p>
                    <h6>Select Quantity to sell</h6>
                    <h6>Available: <span ng-model="sellStock.quantity">{{sellStock.quantity}}</span></h6>
                    <form class="form-inline margin-bottom">
                        <input class="form-control" ng-model="sellStockQuantity" ng-change="checkSellWorth(sellStockQuantity)"
                            type="number" placeholder="Quantity" aria-label="Quantity">
                    </form>
                    <p ng-if="sellOverLimit" class="text-danger">
                        Available limit exceeded. Please enter a lower quantity.
                    </p>
                    <span>Price: <span class="text-danger" ng-model="sellPrice">{{sellPrice | currency : number : 2}}</span></span>
                </p>
                <p>
                    <span>Available Balance: <span class="text-success" ng-model="availableBalance">{{availableBalance
                            | currency : number : 2}}</span></span>
                </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" ng-disabled="sellOverLimit" ng-click="sellStockValue(sellStockQuantity)">Sell</button>
            </div>
        </div>
    </div>
</div>