<h3>Your Stocks</h3>
<h5 ng-if="!userStocks.length">Oops! Looks like you don't have any stocks. Search stocks above and add them to your portfolio for them to appear here.</h5>
<table ng-if="userStocks.length" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Current Value</th>
            <th scope="col">Worth</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-model="userStocks" ng-repeat="stock in userStocks">
            <th scope="row">{{stock.symbol}}</th>
            <td>{{stock.quantity}}</td>
            <td>{{stock.value | currency : number : 2}}</td>
            <td>{{stock.worth | currency : number : 2}}</td>
            <td><button type="button" class="btn btn-success btn-sm" ng-click="openSellModal(stock)" data-toggle="modal" data-target="#sellModal">Sell</button></td>
        </tr>
    </tbody>
</table>