<div class="card">
    <div class="card-header">
        Account Summary
    </div>
    <div class="card-body">
        <h5 class="card-title">Total Stocks <span ng-if="!totalStocks" class="badge badge-success">{{0}}</span><span ng-if="totalStocks" ng-model="totalStocks" class="badge badge-success">{{totalStocks}}</span></h5>
        <h5 class="card-title">Net Worth <span ng-if="!netWorth" class="badge badge-success">{{0 | currency}}</span><span ng-if="netWorth" ng-model="netWorth" class="badge badge-success">{{netWorth | currency : number :2}}</span></h5>
    </div>
</div>